#Core packages (prerequisites of the packages below)
pytorch-lightning
torchmetrics
pynput
torch
pytorch-lightning
torchmetrics
torchaudio

#VAD (Voice Activity Detection) - cobra 
# https://github.com/Picovoice/cobra 
pvcobra
pvrecorder
pyaudio

#ASR (automatic speech recognition) - NEMO
# https://github.com/NVIDIA/NeMo
SpeechRecognition



#LLM (large language model) - ChatGPT
openai


#TTS (text to speech) - GTTS
# https://github.com/coqui-ai/TTS 
gTTs
playsound==1.2.2
# additional packages
thread6
